.App {
  text-align: center;
}

#master-container{
  display: flex;
  justify-content: center; 
  align-items: center; 
}

.sub-container{
  display: flex;
  flex-direction: row;
  flex-wrap: wrap;
}

.card{
  height: 60px;
  text-align: center;
  width: 130px;
  border-style: solid;
  margin: 10px;
  border-radius: 7px;
  border-color: floralwhite;
  color: floralwhite;
  background-color: steelblue;
  font-size: large;
}

.card-have-selected{
  height: 60px;
  text-align: center;
  width: 130px;
  border-style: solid;
  margin: 10px;
  border-radius: 7px;
  border-color: floralwhite;
  color: slategray;
  background-color: lightgreen;
  font-size: large;
}

.card-want-selected{
  height: 60px;
  text-align: center;
  width: 130px;
  border-style: solid;
  margin: 10px;
  border-radius: 7px;
  border-color: floralwhite;
  color: slategray;
  background-color: lightpink;
  font-size: large;
}

#top{
  height: fit-content;
  background-color: darkslateblue;
  color: floralwhite;
  text-align: center;
  padding: 20px;
  padding-bottom: 50px;
}

#middle{
  text-align: center;
  background-color: floralwhite;

}

#bottom{
  height: 1000px;
  background-color: darkslategrey;
  color: floralwhite;
  text-align: center;
}

.form-item{
  margin: 15px;
  padding: 10px;
  background-color: floralwhite;
  border-radius: 7px;
}
